<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/noticeStyle.css">
    
    <title>회원 관리 - biBOT</title>
</head>
<body>
    <div class="accordion-body">
        <div class="accordion">
            <h1> 회원관리 </h1>
            <hr>
            <% for(let datas of data) { %>
            <form action="/adminMemberEditPage" method="post">
                <div class="container">
                    <input type="hidden" name="id" value="<%=datas.user_id%>">
                    <div class="label"><%=datas.user_id%></div>
                    <div class="content">이름 : <%=datas.user_name%> | 휴대폰 번호 : <%=datas.user_phone%> <br> 결제 상태 : <%=datas.user_pay_status%> | 텔레그램 아이디 : <%=datas.user_tel_id%> <br> 
                    권한 : <%if(datas.user_admin == 1){ %> 관리자 <% }else {%> 회원 <%}%> <br> 가입일 : <%=datas.user_regist_date%> | 
                    수신동의 : <%=datas.user_send_agree%> <br> 생일 : <%=datas.user_birth%> | <button type="submit">정보 수정</button>
                    </div>
                </div>
            </form>
            <hr>
            <% } %>
        </div>
    </div>
    
    <script>
        const accordion = document.getElementsByClassName('container');

        for (i=0; i<accordion.length; i++) {
            accordion[i].addEventListener('click', function() {
            this.classList.toggle('active');
            });
        }
    </script>

</body>
</html>